@font-face {
    font-family: "Fracktif";
    src: url(/fonts/Fracktif-Light.otf);
}

@font-face {
    font-family: "Gamour";
    src: url(/fonts/Gamour\ Regular.ttf);
}

#amplitude-player {
  width: 100%;
  /* height: 2rem; */
  height: auto;
  position: absolute;
  bottom: 0;
  /* left: 20px; */
  left: 0;
  /* background-color: blue; */
  cursor: default;
  /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.player-container {
  /* display: inline-block; */
  /* width: 33.333%; */
  /* flex-basis: 33.333%; */
  margin: 0 2rem;
}

#amplitude-player * {
  /* display: flex;
  flex-direction: row;
  flex: 0 1 auto; */
  /* align-items: center; */
  /* justify-content: center; */
}

#title-container {
  text-align: left;
  flex-grow: 1;
  flex-basis: 40%;
  /* align-self: stretch; */
}

#transport-container {
  flex-grow: 0;
  flex-shrink: 2;
  flex-basis: 20%;
  text-align: center;
  display: flex;
}

#transport-container > span {
  padding: 0;
  margin: 0;
  align-self: stretch;
  /* background-color: blue; */
}

#mute-container {
  text-align: center;
  flex-grow: 1;
  flex-basis: 40%;
  display: flex;
  justify-content: flex-end;
}

.amplitude-time-remaining {
  width: 6rem;
}

#transport-container, #title-container {
  justify-content: center;
  align-items: center;
  color: white;
  /* text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white; */
  /* text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white; */
  /* text-shadow: 0 0 3em black, 0 0 1em white, 0 0 0.2em white; */
  text-shadow: 0 0 1em white, 0 0 0.2em white, 0 0 3em black;
  /* filter: drop-shadow(0 0 4px grey); */
  /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
}

#amplitude-player span {
  font-size: 1.5rem;
  font-family: "Fracktif";
  text-transform: uppercase;
}

#pause-icon {
  display: none;
}

.icon {
  /* width: 3rem; */
  height: 1.5rem;
  background-size: auto 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 0px 4px white);
  filter: drop-shadow(0px 0px 4px white);
  /* filter: drop-shadow(0px 0px 8px black); */
  /* box-shadow: 10px 10px 5px blue; */
  /* filter: drop-shadow(0px 0px 8px red), drop-shadow(0px 0px 4px white), drop-shadow(0px 0px 4px #000000); */
  /* background-color: blue; */
  /* border: 10px black; */
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
