@font-face {
    font-family: "Fracktif";
    src: url(/fonts/Fracktif-Light.otf);
}

@font-face {
    font-family: "Gamour";
    src: url(/fonts/Gamour\ Regular.ttf);
}

[touch-action="none"] {
    -ms-touch-action: none;
    touch-action: none;
}

/* 
[touch-action="auto"] {
    -ms-touch-action: auto;
    touch-action: auto;
} */

/*
[touch-action="pan-x"] {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}
*/

/* [touch-action="pan-y"] {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
} */

/* [touch-action="pan-x pan-y"],
[touch-action="pan-y pan-x"] {
    -ms-touch-action: pan-x pan-y;
    touch-action: pan-x pan-y;
}  */

* {
    margin: 0;
    padding: 0;
}

html, body {
    /* overflow: hidden; */
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    width: 100%;
    height: 20000%;
    margin: 0;
    padding: 0;
    font: 1rem "Fira Sans", sans-serif;
    /* Disable text selection: */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Edge, Opera and Firefox */
    background-color: black;
}

body::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}


#renderCanvas {
    width: 100%;
    height: 100%;
    /* touch-action: none; */
    touch-action: pan-y;
    -ms-touch-action: pan-y;
}

#holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    float: left;
    /* overflow-y: scroll; */
}

#fps {
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: white;
    top: 15px;
    right: 10px;
    width: 60px;
    height: 20px;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}
#selector {
    position: absolute;
    top: 15px;
}

#info-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: rgba(0, 0, 0, 0.9);
    /* filter:blur(8px);
    -o-filter:blur(8px);
    -ms-filter:blur(8px);
    -moz-filter:blur(8px);
    -webkit-filter:blur(8px); */
}

#info-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    font-family: "Fracktif";
    text-transform: uppercase;
    /* margin: 40px; */
    margin: 2rem;
    /* padding: 40px; */
}

#info-text, #info-credits {
    /* max-width: 50%; */
    /* max-height: 70%; */
    /* min-width: 40%; */
    z-index: 10;
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}

#info-text {
    /* background-color: red; */
    /* flex-shrink: 1; */
    /* width: -moz-min-content; */
    /* width: min-content; */
}

#info-credits {
    /* width: 40%; */
    /* align-items: stretch; */
    /* background-color: green; */
    /* padding-left: 5rem; */
}

#info-overlay span, a, p, h1, h2 {
    color: white;
    font-size: 1.5rem;
    /* text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white; */
    text-shadow: 0 0 2em white, 0 0 0.2em white;
    max-height: 100%;
}

h1, h2 {
    font-family: "Gamour";
    text-transform: uppercase;
    /* line-height: 2.5rem; */
    line-height: 82%;
}

h1 {
    font-size: 5.0rem;
    /* line-height: 3.5rem; */
}

h2 {
    font-size: 2.5rem;
}

/* 
#info-overlay span, a {
    color: white;
} */

#info-credits-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#info-title > span {
    line-height: 200%;
}

#info-credits-bottom > span, #info-credits-bottom > span > a {
    display: block;
    font-size: 1rem;
    flex-shrink: 1;
}

#otium-button, #info-button {
    position: fixed;
    top: 1rem;
    height: 3rem;
    color: white;
    text-shadow: 0 0 1em white, 0 0 0.2em white;
    /* width: 100%; */
}

#otium-button {
    left: 1rem;
    /* background-image: url(/svg/otium-logo.svg); */
    /* background-repeat: no-repeat; */
    /* width: 10%; */
}

#otium-button img {
    display: block;
    width: auto;
    height: 36px;
    filter: drop-shadow(0px 0px 4px white);
    filter: drop-shadow(0px 0px 4px white);
}

#info-button {
    right: 1rem;
    z-index: 10;
}

#info-title-mobile, #bc-link-mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 4.0rem;
    }

    h2 {
        font-size: 2.0rem;
    }

    #info-credits {
        padding-left: 0;
        padding-top: 5rem;
    }

    #info-credits-bottom {
        flex-direction: column;
        align-items: initial;
    }

    #info-credits-bottom > span {
        margin-bottom: 1.0rem;
    }

    #info-title {
        display: none;
    }

    #info-text * {
        margin-top: 2rem;
    }

    #info-text > span, #info-title-mobile {
        /* margin-bottom: 5rem; */
    }

    #info-title-mobile, #bc-link-mobile {
        display: initial;
        /* background-color: blue; */
    }
}