@media screen and (min-width: 700px) {
    #interface {
        padding: 50px;
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        max-height: calc(100vh - 100px);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: 3rem auto 36px; */
        grid-template-rows: 3rem minmax(0, 1fr) 36px;
        /* grid-template-rows: 3rem minmax(0, calc(100vh - 100px - 3rem - 36px - 80px)) 36px; */
        grid-gap: 40px;
        /* background-color: rgba(0, 0, 0, 0.9); */
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .cell {
        /* background-color:rgba(255, 0, 0, 0.5); */
    }

    #otium-button {
        grid-column: 1;
        grid-row: 1;
        /* background-color: red; */
        /* justify-self: center; */
    }

    #info-button {
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
    }

    #info {
        grid-column: span 2;
        grid-row: 2;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: minmax(100px, 800px); */
        /* grid-template-rows: repeat(2, minmax(0, 1fr)); */
        column-gap: 40px;
        /* max-height: 200px; */
        max-height: 100%;
        /* max-height: calc(100vh - 3rem - 36px - 100px); */
        overflow-y: scroll;
        scrollbar-width: none;
    }
    }

    #info-text {
        grid-column: 1;
        grid-row: 2;
        align-self: center;
        /* max-height: 100%; */
        /* max-height: calc(100% - 3rem - 36px); */
        /* max-height: calc(100% - 0px); */
        /* overflow-y: scroll;
        scrollbar-width: none; */
    }

    #info-title {
        grid-column: 2;
        grid-row: 2;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr auto;
        align-self: stretch;
    }

    #info-title-header {
        grid-column: span 3;
        grid-row: 1;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .credits {
        /* grid-column: span 1; */
        /* background-color: rgba(0, 0, 255, 0.5); */
        align-self: end;
    }

    #player {
        grid-column: span 2;
        grid-row: 3;
        align-self: end;
        display: grid;
        grid-template-columns: 1fr 200px 1fr;
        grid-template-rows: auto;
        align-items: end;
    }

    #song-title {
        grid-column: 1;
        grid-row: 1;
        /* align-self: center; */
    }

    #transport {
        grid-column: 2;
        grid-row: 1;
        /* align-self: center; */
        display: grid;
        /* grid-gap: 5px; */
        grid-template-columns: auto 33% auto;
        grid-template-rows: auto;
        align-items: center;
        height: 36px;
    }

    #transport > span {
        /* background-color: blue; */
    }

    #previous {
        justify-self: start;
        margin-left: 1px;
    }

    #play-pause {
        justify-self: center;
        /* background-color: blue; */
    }

    #next {
        justify-self: end;
        margin-right: -1px;
    }

    #mute-time {
        grid-column: 3;
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 120px;
        grid-template-rows: auto;
        justify-items: end;
        align-items: center;
        height: 36px;
    }

    #mute {
        display: inline-block;
        grid-column: 1;
        grid-row: 1;
    }

    #time {
        grid-column: 2;
        grid-row: 1;
        /* justify-self: end; */
    }
}