@font-face {
    font-family: "Fracktif";
    src: url(/fonts/Fracktif-Light.otf);
}

@font-face {
    font-family: "Gamour";
    src: url(/fonts/Gamour\ Regular.ttf);
}

[touch-action="none"] {
    -ms-touch-action: none;
    touch-action: none;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    /* overflow: hidden; */
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    width: 100%;
    height: 20000%;
    margin: 0;
    padding: 0;
    /* Disable text selection: */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Edge, Opera and Firefox */
    background-color: black;
}

*::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}


#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
}

.blur {
    -webkit-transition: -webkit-filter 1s ease-in;
    -moz-transition: -moz-filter 1s ease-in;
    -o-transition: -o-filter 1s ease-in;
    -ms-transition: -ms-filter 1s ease-in;
    transition: 1s filter ease-in, 1s -webkit-filter ease-in;
    filter:blur(80px);
    -o-filter:blur(80px);
    -ms-filter:blur(80px);
    -moz-filter:blur(80px);
    -webkit-filter:blur(80px);
}

.no-blur {
    -webkit-transition: -webkit-filter 1s ease-out;
    -moz-transition: -moz-filter 1s ease-out;
    -o-transition: -o-filter 1s ease-out;
    -ms-transition: -ms-filter 1s ease-out;
    transition: 1s filter ease-out, 1s -webkit-filter ease-out;
    filter:blur(0px);
    -o-filter:blur(0px);
    -ms-filter:blur(0px);
    -moz-filter:blur(0px);
    -webkit-filter:blur(0px);
}

#holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#landing {
    mix-blend-mode: overlay;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(255, 255, 255, 0.9); */
    /* background-color: rgba(0, 0, 0, 0.95); */
    z-index: 10;
    font-family: Fracktif;
    text-transform: uppercase;
    /* text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7), 0px 0px 4px #FFFFFF, 0px 0px 4px #000000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing > div {
    position: relative;
    flex: 1;
}

#landing > div:first-child {
    display: flex;
    align-items: flex-end;
}

#landing h3 {
    /* position: absolute; */
    /* bottom: 0; */
    /* flex: 1; */
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.75);
    mix-blend-mode: overlay;
    /* height: 50px; */
    /* text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7), 0px 0px 4px #FFFFFF, 0px 0px 4px #000000; */
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7), 0px 0px 4px #FFFFFF;
    /* color: rgba(255, 255, 255, 0.2); */
    isolation: isolate;
    /* background-color: red; */
}

.enter {
    /* flex: 1; */
    mix-blend-mode: overlay;
    display: block;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    /* line-height: 300%; */
    color: rgba(255, 255, 255, 0.75);
    border: 3px solid rgba(255, 255, 255, 0.75);
    padding: 15px 40px;
    margin-top: 80px;
    border-radius: 100vw;
    /* text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7), 0px 0px 4px #FFFFFF, 0px 0px 4px #000000; */
    /* text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7), 0px 0px 4px #FFFFFF; */
    /* padding-top: 100px; */
    /* height: 50px; */
    /* text-decoration: underline; */
    /* background-color: green; */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.7)) drop-shadow(0px 0px 4px #ffffff);
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.7)) drop-shadow(0px 0px 4px #ffffff);
}

/* .enter:hover {
    -webkit-transition: text-decoration 1s ease-in;
    -moz-transition: text-decoration 1s ease-in;
    -o-transition: text-decoration 1s ease-in;
    -ms-transition: text-decoration 1s ease-in;
    transition: text-decoration 1s ease-in;
    text-decoration: underline;
} */

.logo {
    opacity: 1.0;
    mix-blend-mode: hard-light;
    align-self: center;
    /* -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.7)) drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5)) drop-shadow(0px 0px 14px rgba(255, 255, 255, 0.5)); */
    /* filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.7)) drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5)) drop-shadow(0px 0px 14px rgba(255, 255, 255, 0.5)); */
    -webkit-filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.7)) drop-shadow(0px 0px 2px #fff);
    filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.7)) drop-shadow(0px 0px 2px #fff);
}

#landing > svg {
    mix-blend-mode: hard-light;
    /* mix-blend-mode: overlay; */
    /* box-sizing: border-box; */
    /* box-shadow: inset 0px 1.2px 1px rgba(86, 54, 100, 0.6); */
    /* background-color: blue; */
    /* -webkit-filter: drop-shadow(0px 0px 40px rgba(249, 233, 255, 0.5));
    filter: drop-shadow(0px 0px 40px rgba(249, 233, 255, 0.5)); */
    /* -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.7)) drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5)) drop-shadow(0px 0px 14px rgba(255, 255, 255, 0.5)); */
    /* filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.7)) drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5)) drop-shadow(0px 0px 14px rgba(255, 255, 255, 0.5)); */
}

#interface {
    position: fixed;
    top: 0;
    left: 0;
    font: 1.5rem "Fracktif", sans-serif;
    color: white;
    /* text-shadow: 0px 0px 8px #FFFFFF, 0px 0px 4px #FFFFFF, 0px 0px 4px #000000; */
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7), 0px 0px 4px #FFFFFF;
    text-transform: uppercase;
    /* -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    opacity: 1;
    opacity: 0; */
}

#otium-button img {
    display: inline-block;
    /* object-fit: contain; */
    /* width: 100%; */
    /* max-height: 100%; */
    height: 100%
    /* justify-self: start; */
}

#otium-button > a {
    /* width: min-content; */
    height: 100%;
    display: inline-block;
}

#info-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#player-or-info {
    position: relative;
    grid-column: span 2;
    grid-row: 2;
    overflow-y: hidden;
    scrollbar-width: none;
    max-height: 100%;
    /* max-height: calc(100% - 3rem); */
    display: flex;
}

#player {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* position: fixed;
    bottom: 0;
    margin-bottom: 50px;
    margin-right: 50px;
    width: calc(100% - 100px); */
}

#bc-link {
    line-height: 6rem;
}

.credits {
    font-size: 1rem;
}

h1 {
    /* font-family: "Gamour"; */
    /* max-width: ; */
}

h1, h2 {
    font-family: "Gamour";
    line-height: 82%;
    font-weight: normal;
}

a {
    color: white;
}

.icon {
    object-fit: contain;
    height: 1.5rem;
    /* max-height: 100%; */
    /* filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.7)), drop-shadow(0px 0px 4px #FFFFFF), drop-shadow(0px 0px 4px #000000); */
    /* -webkit-backface-visibility: hidden; */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.glow {
    /* -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.7)) drop-shadow(0px 0px 4px #ffffff) drop-shadow(0px 0px 4px #000000); */
    /* filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.7)) drop-shadow(0px 0px 4px #ffffff) drop-shadow(0px 0px 4px #000000); */
    -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.7)) drop-shadow(0px 0px 2px #ffffff);
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.7)) drop-shadow(0px 0px 2px #ffffff);
}

.hide {
    pointer-events: none;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    opacity: 0;
    /* display: none; */
}

.show {
    /* display: block; */
    pointer-events: auto;
    visibility: visible;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    opacity: 1;
}

.no-background {
    /* background-color: none; */
    -webkit-transition: background-color 1s ease-in;
    -moz-transition: background-color 1s ease-in;
    -o-transition: background-color 1s ease-in;
    -ms-transition: background-color 1s ease-in;
    transition: background-color 1s ease-in;
    background-color: rgba(0, 0, 0, 0.0);
}

.background {
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    -ms-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color: rgba(0, 0,  0, 0.3);
}