@media screen and (min-width: 700px) {
    /* #landing {
        margin: 50px;
    } */

    #landing > div {
        position: relative;
        flex: 1;
    }

    .logo {
        max-width: 70%;
    }

    #interface {
        padding: 50px;
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        max-height: calc(100vh - 100px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 3rem minmax(0, 1fr) 36px; */
        grid-template-rows: 2rem 1fr;
        grid-gap: 40px;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .cell {
        /* background-color:rgba(255, 0, 0, 0.5); */
    }

    #otium-button {
        grid-column: 1;
        grid-row: 1;
        /* background-color: red; */
        /* justify-self: center; */
    }

    #info-button {
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
    }

    #info {
        /* grid-column: span 2; */
        /* grid-row: 2; */
        /* margin: auto 0; */
        align-self: center;
        display: flex;
        /* display: grid; */
        /* grid-template-columns: repeat(2, 1fr); */
        /* column-gap: 40px; */

        /* grid-template-rows: minmax(100px, 800px); */
        /* grid-template-rows: repeat(2, minmax(0, 1fr)); */
        /* max-height: 200px; */

        max-height: 100%;
        /* max-height: calc(100vh - 3rem - 36px - 100px); */
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    #info-text {
        flex: 1 1 0px;
        margin-right: 40px;
        /* grid-column: 1;
        grid-row: 1; */
        /* align-self: center; */
        /* max-height: 100%; */
        /* max-height: calc(100% - 3rem - 36px); */
        /* max-height: calc(100% - 0px); */
        overflow-y: scroll;
        scrollbar-width: none;
    }

    #info-title {
        flex: 1 1 0px;
        /* grid-column: 2;
        grid-row: 1; */
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr auto;
        /* align-self: stretch; */
        align-self: start;
        max-height: 100%;
    }

    #info-title-header {
        grid-column: span 3;
        grid-row: 1;
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .credits {
        /* grid-column: span 1; */
        /* background-color: rgba(0, 0, 255, 0.5); */
        align-self: end;
    }

    #player {
        /* grid-column: span 2;
        grid-row: 3;
        align-self: end; */
        display: grid;
        grid-template-columns: 1fr 200px 1fr;
        grid-template-rows: auto;
        align-items: end;
    }

    #song-title {
        grid-column: 1;
        grid-row: 1;
        /* align-self: center; */
    }

    #transport {
        grid-column: 2;
        grid-row: 1;
        /* align-self: center; */
        display: grid;
        /* grid-gap: 5px; */
        grid-template-columns: auto 33% auto;
        grid-template-rows: auto;
        align-items: center;
        height: 36px;
    }

    #transport > span {
        /* background-color: blue; */
    }

    #previous {
        justify-self: start;
        margin-left: 1px;
    }

    #play-pause {
        justify-self: center;
        /* background-color: blue; */
    }

    #next {
        justify-self: end;
        margin-right: -1px;
    }

    #mute-time {
        grid-column: 3;
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 100px;
        grid-template-rows: auto;
        justify-items: end;
        align-items: center;
        height: 36px;
    }

    #mute {
        display: inline-block;
        grid-column: 1;
        grid-row: 1;
    }

    #time {
        grid-column: 2;
        grid-row: 1;
        /* justify-self: end; */
    }
}