@media screen and (max-width: 699px) {
    #landing > div {
        position: relative;
        flex: 0;
    }

    .logo {
        content: url("../svg/DrownInUrPresence-mobile.svg");
        max-width: 100%;
    }

    #interface {
        padding: 20px 20px 50px;
        width: calc(100% - 40px);
        height: calc(100% - 70px);
        max-height: calc(100vh - 70px);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2rem 1fr;
        grid-gap: 20px;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    #otium-button {
        grid-column: 1;
        grid-row: 1;
    }

    #info-button {
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
    }

    #info {
        position: absolute;
        align-self: center;
        display: grid;
        grid-template-rows: 1fr 1fr;
        row-gap: 40px;
        overflow-y: scroll;
        scrollbar-width: none;
        max-height: 100%;
    }

    #info-text {
        grid-column: 1;
        grid-row: 2;
    }

    #info-title {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-gap: 5px;
        align-self: stretch;
    }

    #info-title-header {
        grid-column: 1;
        grid-row: 1;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .credits {
        grid-column: 1;
        align-self: end;
    }

    #player {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 2fr 1fr;
        row-gap: 20px;
        justify-items: center;
    }

    #song-title {
        grid-column: 1;
        grid-row: 1;
        align-self: end;
        justify-self: center;
        text-align: center;
    }

    #transport {
        grid-column: 1;
        grid-row: 2;
        align-self: center;
        width: 200px;
        display: grid;
        grid-template-columns: auto 33% auto;
        grid-template-rows: auto;
        align-items: center;
        height: 36px;
    }

    #previous {
        justify-self: start;
        margin-left: 1px;
    }

    #play-pause {
        justify-self: center;
    }

    #next {
        justify-self: end;
        margin-right: -1px;
    }

    #mute-time {
        display: none;
    }

    #mute {
        display: none;
    }

    #time {
        display: none;
    }
}