html, * {
	margin: 0;
	padding: 0;
}

main {
	width: 100vw;
	/* height: 100vh; */
}

#bg-div {
	z-index: -1;
}

#background {
	z-index: -1;
}

/* #bg_div { */
/* 	z-index: -1; */
/* 	position: fixed; */
/* 	height: 90%; */
/* 	width: 90%; */
/* 	top: 5%; */
/* 	left: 5%; */
/* 	border-radius: 5px; */
/* 	box-shadow: 10px 20px 30px dimgray; */
/* 	-webkit-box-shadow: 10px 20px 30px dimgray; */
/* 	-moz-box-shadow: 10px 20px 30px dimgray; */
/* } */

/* #background { */
/* 	z-index: -1; */
/* 	position: fixed; */
/* 	height: 90%; */
/* 	width: auto; */
/* 	transform: translate(-50%, 0); */
/* 	top: 5%; */
/* 	left: 50%; */
/* } */

p, ul {
	margin: 0 2vw;
	z-index: 1;
	position: absolute;
	width: 90vw;
}

#about {
	top: 4%;
}

#links {
	/* position: absolute; */
	bottom: 2vh;
	/* float: right; */
	/* position: absolute; */
	list-style-type: none;
	/* padding: 0; */
	right: -2vw;
}

#links li {
	display: inline;
	float: right;
	margin-right: 2vw;
}

span {
	padding: 0.5%;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 16pt;
	/* background: rgba(102, 168, 163, 0.8); */
	background: white;
	border-radius: 0px;
	border: 2px rgb(10%, 10%, 10%) solid;
	color: rgb(10%, 10%, 10%);
	opacity: 1;
	text-align: justify;
	display: inline-block;
}

#links li span {
	/* display: inline; */
	/* margin-left: 5vw; */
	padding: 2.0%;
}

a {
	color: rgb(10%, 10%, 10%);
	text-decoration: none;
	-webkit-transition: text-decoration 0.5s;
	-moz-transition: text-decoration 0.5s;
	transition: text-decoration 0.5s;
}

a:hover {
	text-decoration: underline;
	-webkit-transition: text-decoration 0.5s;
	-moz-transition: text-decoration 0.5s;
	transition: text-decoration 0.5s;
}

img {
	width: 90vw;
	margin: 5vh 5vw;
	/* border-radius: 5px; */
	box-shadow: 10px 20px 30px dimgray;
	-webkit-box-shadow: 10px 20px 30px dimgray;
	-moz-box-shadow: 10px 20px 30px dimgray;
}
