/*html {
	background: url(img/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

#background {
	min-height: 100%;
	min-width: 1500px;

	width: 100%;
	height: auto;

	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1500px) {
	#background {
		left: 50%;
		margin-left: -750px;
	}
}

/*#background {
	position: fixed;
	top: 0;
	left: 0;

	min-width: 100%;
	min-height: 100%;
}*/